html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: auto;
}

.footer {
  background-color: gray;
  margin-top: 15px;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: whitesmoke;
}

button {
  color: white;
  background-color: #4472c4;
  border-radius: 5px;
  border-color: #4472c4;
  padding: 7px;
  font-weight: bold;
}

.pizza-table-col {
  color: white;
  background-color: #4472c4;
  padding: 7px;
  text-align: center;
  margin: 0 1px 4px;
}
