html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
}

.main-content {
  flex: auto;
  padding: 0;
  margin: 0;
  padding-bottom: 137px;
}

.footer {
  background-color: gray;
  margin-top: 15px;
  height: 85px;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  color: whitesmoke;
  font-family: Calibri;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

button {
  color: white;
  background-color: #4472c4;
  border-radius: 5px;
  border-color: #4472c4;
  padding: 7px;
  font-weight: bold;
  font-family: Calibri;
}

.button-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-delete {
  background-color: rgb(241, 54, 54);
  border-color: rgb(241, 54, 54);
  padding: 5px;
}

.pizza-table-col {
  color: white;
  background-color: #4472c4;
  padding: 7px;
  text-align: center;
  margin: 0 1px 4px;
  font-weight: bold;
  font-family: Calibri;
}

.new-pizza-col {
  color: white;
  padding: 7px;
  text-align: center;
  margin: 0 1px 1px;
}

.button-new-row {
  margin: 10px 0;
}

.error {
  color: red;
}

.warning {
  color: yellow;
}
